@use '../abstracts/index' as *;

body {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-family('font-family-title'), serif;
  font-weight: 900;
}

p {
  font-family: font-family('font-family-text');
  line-height: 1.8;
  @include title(color-light-dark, font-size-text);
}

//navigation
.nav {
  .nav__links--item__link {
    font-family: font-family('font-family-title'), serif;
    font-weight: bold;
    @include title(color-dark, font-size-title-xxs);
  }
}

//header
.header {
  &__content--title {
    @include title(color-light, font-size-title-m);
  }
}

//products
.products {
  &__title {
    @include title(color-dark, font-size-title-m);

    @supports (-webkit-background-clip: text) {
      background: linear-gradient(color(color-light-dark), color(color-light));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__presentation--card__title {
    @include title(color-dark, font-size-title-xxs);
  }
}

//Services
.services {
  padding: 4rem 1.5rem;
  &__description--title {
    @include title(color-light, font-size-title-xs);
  }

  .services__features--card__title {
    @include title(color-light, font-size-title-xxs);
  }
}

//Steps
.steps {
  &--title {
    @include title(color-light-dark, font-size-title-xxs);
  }

  &--content__card--number {
    @include title(color-secondary, font-size-numbers);
  }

  &--content__card--title {
    @include title(color-dark, font-size-title-xs);
  }
}

//footer

.footer-nav__list--item__link {
  @include title(color-light-dark, font-size-footer);
  font-family: font-family(font-family-text);
  font-weight: 600;
  text-transform: uppercase;
}
