@use '../abstracts/index' as *;

//mobile

.nav.mobile {
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav__img {
    width: min(120px + 8vw, 240px);
  }

  .nav__links {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(
      to bottom,
      color(color-light),
      rgba(255, 255, 255, 0.3)
    );
    top: -100%;
    left: 0;

    &--item__link {
      color: color(color-dark);
      font-weight: bold;
    }
  }

  ul.nav__links.active {
    top: 90px;
  }
}
